{
  "presets": [["env", {
    "targets": {
        "node": "7.6"
    }
  }]],
  "plugins": [
      ["transform-builtin-extend", {
            globals: ["Error"]
      }],
      "transform-class-properties",
      "transform-object-rest-spread"
  ]
}
